<!DOCTYPE html>
{{- partial "head.html" . -}}

<body id="css-zen-garden">
    <div class="page-wrapper">
    
        <section class="intro" id="zen-intro">

<header role="banner">
    <h1>ERROR 404</h1>
    <h2>La página que quieres ver no <abbr title="Cascading Style Sheets">EXISTE</abbr> Design</h2>
</header>

<body id="css-zen-garden">
    <div class="page-wrapper">

        <div class="summary" id="zen-summary" role="article">
        </section>
        <div class="main supporting" id="zen-supporting" role="main">

    <div class="requirements" id="zen-requirements" role="article">
        {{- block "main" . }}{{- end }}
	</div>    

{{- partial "footer.html" . -}}
</html>